* {
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;

  /* Fuentes de letra */
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smooothing: antialiased;
  -moz-font-smooothing: antialiased;
  -moz-osx-font-smooothing: antialiased;
}
input{
  outline: none;
}

.header {
  border-bottom: 2px solid #ccc;
  height: 120px;
  width: 100%;
  background: white;
  border-top: 4px solid #09a330;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0px auto;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  width: 30%;
  font-size: 30px;
  margin: 20px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
  animation: latir infinite 3s linear;
}

@keyframes latir {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.02, 1.02);
  }
  55% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}
.menu .active{
  color: #09a330;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
}

.menu ul {
  display: flex;
  flex-direction: row;
  margin: 20px;
  list-style: none;
}

.menu ul li {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}

.menu ul li a {
  transition: 300ms all;
  color: black;
  text-decoration: none;
}

.menu ul li a:hover {
  transition: 300ms all;
  color: #09a330;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  /* DEGRADADO CSS JUMBOTRON*/
  background: rgb(64, 214, 102);
  background: -moz-radial-gradient(
    circle,
    rgba(64, 214, 102, 1) 54%,
    rgba(9, 163, 48, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(64, 214, 102, 1) 54%,
    rgba(9, 163, 48, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(64, 214, 102, 1) 54%,
    rgba(9, 163, 48, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40d666",endColorstr="#09a330",GradientType=1);
}
.jumbotron h1 {
  font-size: 35px;
}

.blogBtn {
  text-decoration: none;
  padding: 20px;
  width: 150px;
  height: auto;
  margin: 30px;
  border: 1px solid #088a29;
  border-radius: 28px;
  color: white;
  background-color: #09a330;
  transition: 300ms all;
  box-shadow: 0px 0px 5px #444;
  text-transform: uppercase;
}
.blogBtn:hover {
  background-color: #06631d;
}
.jumbotron-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  /* DEGRADADO CSS JUMBOTRON*/
  background: rgb(64, 214, 102);
  background: -moz-radial-gradient(
    circle,
    rgba(64, 214, 102, 1) 54%,
    rgba(9, 163, 48, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(64, 214, 102, 1) 54%,
    rgba(9, 163, 48, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(64, 214, 102, 1) 54%,
    rgba(9, 163, 48, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40d666",endColorstr="#09a330",GradientType=1);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}
.articles {
  width: 70%;
  padding: 20px;
  margin: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  padding: 20px;
  margin: 20px;
}
.menuBlog {
  margin: 10px;
  padding: 20px;
  height: 20%;
  background: #f7f7f7;
}
.menuBlog h3 {
  padding: 5px;
  border-bottom: 1px solid grey;
  margin: 0px 10px 20px 10px;
  text-transform: uppercase;
}
.search {
  margin: 10px 10px 20px 10px;
  padding: 20px;
  height: 80%;
  background: #f7f7f7;
}
.search h3 {
  margin: 10px 10px 20px 10px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.search p {
  margin: 10px;
  font-size: 14px;
}
.btn-Create {
  padding: 10px;
  background: #faac61;
  border: 1px solid #ad6621;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  width: 70%;
}
.btn-Create:hover {
  background: #ad6621;
  color: white;
}
.searchBtn {
  margin: 10px;
  padding: 10px;
  background: black;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  width: 70%;
}
input[type="text"],
textarea {
  width: 100%;
  height: 30px;
  min-height: 30px;
  border: 2px solid #ccc;
  transition: 300ms all;
  margin-top: 2%;
  outline: none;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
input[type="text"]:focus {
  box-shadow: 3px solid grey;
}
textarea {
  width: 100%;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  min-height: 150px;
}
.generalTitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.article-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.articleText {
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.articleText h2 {
  display: block;
  text-align: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}
.articleText p {
  text-decoration: none;
  color: black;
  text-align: left;
}
.articleText a{
  text-decoration: none;
  color: black;
}
.articleText a:hover {
  text-decoration: underline;
}
.image-wrap {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.imgArt {
  height: 100%;
}
.dateArt {
  display: block;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  color: #444;
}
.dateFilmGreen{
  padding: 6px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  color: white;
  text-align: center;
  background-color: #41d566;
}
.dateFilmRed{
  padding: 6px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  color: white;
  text-align: center;
  background-color: #d45252;
}
.articleSingle {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.articleSingle img {
  width: 100%;
  padding-bottom: 10px;
}
.subHeader {
  font-size: 30px;
  text-align: left;
  padding-bottom: 10px;
}
.artText p {
  text-align: justify;
}
.div-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.mid-form {
  width: 60%;
  padding: 20px;
}
.form-group {
  text-align: left;
  padding: 10px;
  justify-content: center;
}
.mid-form h2 {
  text-align: center;
}
.radio-buttons {
  padding: 10px;
  margin: 10px;
}
.footer {
  width: 100%;
  height: 70px;
  line-height: 72px;
  background: #f7f7f7;
  bottom: 0px;
}
.general-content{
  width: 100vw;
}
.film-fav {
  margin-left: 30px;
	background-color:#ff707c;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 23px;
  text-decoration:none;
  outline: none;
}
.film-fav:hover {
	background-color:#ff5c6c;
}
.film-fav:active {
	position:relative;
	top:1px;
}
.user-div{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user-div h2{
  margin-bottom: 3%;
  font-size: 20px;
}
.user-div p{
  margin-bottom: 1%;
  font-size: 16px;
}
.user-div p strong{
  color: #09a330;
}
.loading-title{
  font-size: 16px;
  margin-bottom: 4%;
}
.loading-logo{
  width: 10%;
}
.fav-films{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-items: center;
  align-items: center;
}
.fav-films h2{
  margin-bottom: 2%;
}
.fav-films img{
  margin-bottom: 2%;
}
.error-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.error-page h2{
  margin-top: 3%;
  margin-bottom: 2%;
}
.error-page p{
  margin-top: 3%;
  margin-bottom: 5%;
}

.section-CA{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0px auto;
}
.subheader-CA{
  font-size: 30px;
  margin-bottom:  2%;
  margin-top: 2%;
}
.form-create-article{
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group-CA{
  width: 70%;
  padding: 0;
  margin: 0;
  text-align: left;
}
.form-group-CA label{
  font-size: 20px;
}
.form-group-CA textarea {
margin-top: 1%;
margin-bottom: 2%;
padding: 2%;
font-size: 14px;
text-align: left;
outline: none;

width: 100%;
height: 20vh;
min-height: 20vh;
max-height: 50vh;
min-width: 100%;
max-width: 100%;

border: 2px solid #ccc;
transition: 300ms all;
}
.form-group-CA input[type="text"]{
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 14px;
  text-align: left;
  outline: none;

  width: 100%;

  border: 2px solid #ccc;
  transition: 300ms all;
}
input[type="text"]:focus {
box-shadow: 3px solid grey;
}
.file-AC{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.btn-Create-AC{
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 10px;
  background: #faac61;
  border: 1px solid #ad6621;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  width: 30%;
  outline: none;
}
.btn-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

/* Diseño responsive para nuestra página web */

@media (max-width: 1500px) {
  .center {
    width: 95%;
  }
  .menu ul {
    width: auto;
  }
}
@media (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .articles {
    width: 100%;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
  }
  .menuBlog {
    width: 70%;
    height: auto;
  }
  .search {
    width: 70%;
    height: auto;
  }
  .btn-Create {
    margin-top: 5%;
    font-size: 12px;
  }
  .search p {
    margin: 10px;
    font-size: 16px;
  }
  .div-form {
    width: 100%;
  }
}
@media (max-width: 797px) {
  .header {
    border-bottom: 2px solid #ccc;
    height: auto;
  }
  .center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .logo {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 30%;
    font-size: 25px;
  }
  .menu {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .jumbotron {
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 10px;
  }
  .jumbotron h1 {
    font-size: 25px;
  }
  .blogBtn {
    text-decoration: none;
    padding: 10px;
    width: 150px;
    height: auto;
    margin: 30px;
  }
  @media (max-width: 420px) {
    .articles {
      padding: 10px;
      margin: 0px;
    }
    .generalTitle {
      font-size: 25px;
      padding-bottom: 10px;
    }
    .articleText {
      font-size: 14px;
    }
    .dateArt {
      font-size: 14px;
    }
  }
  @media (max-width: 375px) {
    .menu ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      font-size: 14px;
      text-align: justify;
      justify-content: center;
      align-items: center;
    }
    .menu ul li {
      width: 100%;
      padding: 0px;
      margin: 0px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 10px;
    }
    .articles {
      text-align: left;
    }
    .articleText h2 {
      display: block;
      text-align: left;
      font-size: 20px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      padding-bottom: 20px;
    }
  }
}